.badge-number {
  float: right;
}
.header-stats {
  padding: 10px !important;
  margin-right: 20px;
  width: 100%;
  text-align: left !important;
}

.m-0 {
  margin: 0 !important;
}

.header-right {
  float: right;
}
.header-right i {
  margin-left: 20px;
}